* {
    margin: 0;
    padding: 0;
}

.new-paginate {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: rgb(176, 217, 203);
    border-radius: 5px;
}

.child-pagin {
   width: 100%;
   display: flex;
}